.card {
    padding: 0.3em;
    margin-bottom: 0.5em;
    color: black;
    
}




.card-custom-alignment {
    display: flex;
    direction: row;
    justify-content: space-between;
}

.remove-icon {
    cursor: pointer;
}